@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,300&display=swap');
/* Variable CSS */
:root{
    --first-color: rgb(252, 130, 151);
}

.carousel-inner img{
    
    width: 100%;
    
    height: 100vh;

}

*{
    margin: 0;
    
    padding: 0;
    
    /* box-sizing: border-box; */
    
    font-family: 'Poppins', sans-serif;
}

/* === Base ==== */
*,::before,::after{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  width: 100%;
}

body{
    background-color: white;
    width: 100%;
    min-height: 200vh;
}


/* === Header/Navbar CSS === */

header {
    background-image: url("/assets/img/med.jpg");
    background-position: center;
    background-size: cover;
    height: 30vh;
    width: 100%;
    /* transition-delay: 500ms; */

}

.header img{
    padding: 1rem;
}

.header {
    display: flex;
    flex-wrap: wrap;
    /* background-color: #000; */
    transition: .4s ease-in;
}

.header>h1 {
    font-size: 1em;
    color: #fff;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    font-family: 'Playfair Display',
        serif;
    font-weight: 700;
    padding: 30px 50px;
    text-align: center;
}

.header>h1>span {
    display: block;
    color: #fff;
    font-family: 'Raleway',
        sans-serif;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 9px;
    text-transform: lowercase;
    font-weight: 400;
}

nav {
    font-family: 'Poppins',
        sans-serif;
    align-self: stretch;
    flex-grow: 1;
    text-align: right;
    transition-duration: 300ms;
}

.fullMenu ul li{
    display: inline-block;
    position: relative;
    top: 40px;
    padding: 0px 9px;
    list-style: none;  
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1.4px;
}

nav a:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: .4s ease;
}

nav li {
    list-style-type: none;
    padding: 10px 10px;
    text-align: center;
}

#collMenu, label[for='toggleMenu']{
    display: none;
}

.scrolledHeader {
    position: fixed;
    background-color: orange;
    height: 100px;
    width: 100%;
    z-index: 999;
    transition-duration: 400ms;
}

.scrolledHeader nav {
    position: relative;
    top: -20px;
    padding: 18px 10px;
    transition: 0.4s ease;
}

.scrolledHeader h1 {
    padding: 28px 50px;
    text-align: center;
    font-size: 1.2em;
}

.scrolledHeader>h1>span {
    letter-spacing: 2px;
    font-size: 1.2em;
    
}

.header>h1,
.header>h1>span {
    transition: 230ms;
}



/* ========= Dropdown CSS ======== */
.dropbtn {
    background-color: transparent;
    color: var(--first-color);
    /* padding: 16px; */
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: pink;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(255, 133, 133, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
}
/* ========= Dropdown CSS End ======== */

/* ============================= Header CSS END =============================== */

/* ======== Scroll bar CSS ======= */

::-webkit-scrollbar{
    width: 8px;
    background: pink;
  }
  
::-webkit-scrollbar-track{
    background: transparent;
    border-radius: 0px;
}
  
::-webkit-scrollbar-thumb{
    background-color: var(--first-color);
}
  
::-webkit-scrollbar-track-piece:vertical:end{
    background: transparent;
}

/* ======== Scroll bar CSS End ======= */

.bottom{
    position: fixed;
    bottom: 0;
    height: 10vh;
    background-color: green;
    width: 100%;
    z-index: 99999999;
    transition: 0.4s ease;
}

.bottom p{
    color: #fff;
    /* width: 80px; */
    padding: 26px 5rem;
    width: 100%;
    /* font-size: 800;  */
}

.bottom i{
    float: right;
    font-size: 20px;
    /* margin-right: 20px; */
    cursor: pointer;
}

.heading{
    font-weight: 800; color: rgb(255, 0, 43);
}


/* ============= Portfolio CSS ========== */

.portfolio {
    display: grid;
    position: relative;
    width: 95%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px 20px;
    /* padding-bottom: 40px; */
    margin: 0 auto;

}

.portfolio img {
    width: 100%;
    overflow: hidden;
    height: 100%;
}

.mega {
    grid-column: 2/4;
    grid-row: 2/4;
}

.album {
    position: relative;
}

.albumTitle {
    display: block;
    position: absolute;
    width: 100%;
    top: 40%;
}

.hideText {
    display: none;
}

.hideText h2,
.hideText p {
    color: red;

}

/* ================= Portfolio CSS End ===============*/

/* About US */
.about__section{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin-top: -2rem;
}

.about__section_div{
    background: url('/assets/img/about.jpg') no-repeat left;
    background-size: 55%;
    background-color: #fff;
    overflow: hidden;
    padding: 10rem 0;
}

.inner-container{
    width: 55%;
    float: right;
    background-color: rgb(255, 220, 226);
    padding: 50px;
    margin-right: 30px;
}

.inner-container .text{
    font-size: 13px;
    line-height: 20px;
    text-align: justify;
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 0.651);
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 13px;
}

/* ========== Bottom Fixed CSS ===========*/
.voltour{
    padding: 4px 8px;
    background-color: pink;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}

.voltour:hover{
    background-color: rgb(252, 138, 157);
    transition: 0.4s ease;
}
/* ======== Bottom Fixed CSS End =======*/


.hero{
    background: #ff676d;
    height: 100vh;
    width: 100%;
    position: relative;
}

.hero h2{
    text-align: center;
    padding-top: 40px;
    font-size: 40px;
    color: #fff;
}

.slide-row{
    display: flex;
    width: 3200px;
    transition: 0.4s ease;
}

.slide-col{
    width: 800px;
    height: 400px;
    position: relative;
}

.user-img{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.user-img img{
    /* height: 100%; */
    border-radius: 15rem;
}

.user-text{
    background: #2d3a59;
    width: 520px;
    height: 330px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
    padding: 31px;
    padding-right: 99px;
    box-sizing: border-box;
    /* z-index: 2; */
}

.user-text p{
    margin: -8px 0 19px;
    color: #fff;
}

.container-test{
    width: 640px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.indicator{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -50px;
}

.btn-test{
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 4px;
    border-radius: 15px;
    background: #fff;
    cursor: pointer;
    transition: 0.4s ease;
}

.active-test{
    width: 45px;
}

.testimonials{
    width: 100%;
    height: 100%;
    overflow: hidden;
}


/* Counter */
.middle{
    position: relative;
    /* top: 50%; */
    width: 100%;
    height: 38vh;
    /* transform: translateY(-50%); */
}

.counting-sec{
    padding: 40px 0;
    width: 100%;
    background: linear-gradient(90deg, #3c6382, #82ccdd);
}

.inner-width{
    max-width: 1500px;
    margin: auto;
    display: flex;
}

.col{
    flex: 1;
    text-align: center;
    padding: 20px;
    color: #fff;
    text-transform: uppercase;
}

.col i{
    font-size: 40px;
    color: orange;
}

.num{
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
}
/* ===== Footer CSS ======== */
.footer-area{
    padding-top: 50px;
    padding-bottom: 20px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(2,53,91,1) 0%, rgba(0,212,255,1) 100%);
    position: relative;
    bottom: 9vh;
}

.main{
    width: 100%;
    margin: 0 auto;
}

.footer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

.single-footer{
    width: 290px;
    padding-right: 20px;
    color: #fff;
}

.single-footer:first-child{
    width: 400px;
    margin-left: 60px;
}

.single-footer h4{
    text-transform: capitalize;
    font-size: 22px;
    margin-bottom: 20px;
    color: #fff;
}

.single-footer h4:first-child{
    font-weight: 600;
}

.footer-social{
    margin-top: 20px;
}

.footer-social a{
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.footer-social a:hover{
    color: rgb(250, 121, 121);
    border: 1px solid rgb(250, 121, 121);
    transition: 0.4s ease;
}

.single-footer ul{
    list-style: none;
}

.single-footer ul li{
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
}

.single-footer ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 15px;
    font-weight: 501;
}

.single-footer ul li a:hover{
    color: rgb(250, 121, 121);
    transition: 0.4s ease;
}

.single-footer ul li a i{
    position: absolute;
    left: 0;
    top: 5px;
}

.copy{
    text-align: center;
    text-transform: capitalize;
    margin-top: 50px;
}

@media only screen and (max-width:600px){
.main{
    width:320px;
}
.footer-wave-box {
    display: none;
}
.single-footer:first-child, .single-footer {
    width: 100%;
    margin-bottom:30px;
}
}

/* ===== Footer CSS End ======== */

.parallaxOne{
    background-image: url("/assets/img/g4.jpg");
    height: 90vh;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    z-index: -1;
}

/*========== Media Queries =======*/
@media screen and (max-width: 512px){
    .img__logo img{
        width: 100%;
    }
}

@media screen and (max-width: 767px){
    .diamond-grid{
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1690px) {

}

@media only screen and (max-width: 1280px) {

}

@media only screen and (max-width: 980px) {

    .container>div {
        padding: 40px;
    }

    #services {
        padding-top: 45px;
    }

    .serviceBox {
        width: 100%;
        height: 400px;
    }

    .portfolio {
        display: grid;
        width: 100%;
        grid-template-columns: 50% 50%;
        grid-gap: 10px 15px;
    }

    .portfolio img {
        width: 100%;
        overflow: hidden;
        height: 100%;
    }

    .mega {
        display: none;
    }


    .blog {
        width: 90%;
        padding: 0;
    }

    .packageImg img {
        width: 25%;
        height: 25%;
    }

}

@media only screen and (max-width: 736px) {

    .portfolio {
        display: grid;
        width: 100%;
        grid-template-columns: 100%;
        grid-gap: 10px;
        padding: 0;
    }

    .header h1 {
        text-align: center;
        width: 100%;
    }

    .header{
        background-color: transparent;
        z-index: 9999999;
        position: relative;
    }

    .fullMenu {
        display: none;
    }

    nav {
        width: 100%;
    }

    .scrolledHeader nav {
        top: 0px;
        background-color: #000;
    }

    #toggleMenu {
        position: absolute;
        top: 10px;
        right: 10px;

    }

    /* hide after you style */

    #collMenu {
        display: none;
        position: relative;
        top: 0px;
        width: 100%;
        /* background-color: #000; */
        background-color: inherit;
    }

    label[for='toggleMenu'] {
        position: absolute;
        display: block;
        top: 20px;
        right: 20px;
        color: #fff;
    }

    .reviews {
        display: block;  
    }

    .testimonial {
        margin: 60px 0;
    }

}

@media only screen and (max-width: 480px) {

    .container > div {
        padding: 40px 10px;
    }

    .container {
        padding: 0;
        margin: 0;
    }
    .title>h1 {
        width: 100%;
        font-size: 26px;
        letter-spacing: 0px;
        line-height: 1.2em;
    }

    .title>h2 {
        line-height: 1.2em;
    }

    .title p {
        width: 100%;
        font-size: 1em;
    }

    .serviceBox {
        min-width: 300px;
        min-height: 300px;
    }

    .blog p {
        column-count: 1;
    }

    .packagePrice>div {
        width: 100%;
        padding-bottom: 60px;
    }

    .parallaxOne, .parallaxTwo {
        display: none;
    }



}
