@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,300&display=swap');
/* Variable CSS */
:root{
    --first-color: rgb(252, 130, 151);
}

.carousel-inner img{
    
    width: 100%;
    
    height: 100vh;

}

*{
    margin: 0;
    
    padding: 0;
    
    /* box-sizing: border-box; */
    
    font-family: 'Poppins', sans-serif;
}

/* === Base ==== */
*,::before,::after{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
    background-color: rgb(253, 227, 231);
    
    min-height: 200vh;
}


/* === Header/Navbar CSS === */
header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    margin-bottom: 20px;
    z-index: 999999;
    background-color: #fff;
    transition: 0.6s ease;
}

header.sticky{
    position: fixed;
    padding: 10px 30px;
    background-color: rgb(253, 226, 230);
    transition: 0.6s ease;
}

header .logo{
    position: relative;
    font-weight: 700;
    color: rgb(255, 97, 124);
    text-decoration: none;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s ease;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    position: relative;
    list-style: none;
    padding-top: 15px;
    font-weight: 700;
}

header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: rgb(255, 154, 171);
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
    transition: 0.5s;
}

header ul li a:hover{
    text-decoration: none;
    color: rgb(255, 89, 117);
    transition: 0.5s ease;
}

header.sticky ul li a{
    margin-top: 5px;
    color: rgb(255, 126, 148);
}

header.sticky .logo{
    color: rgb(255, 97, 124);
}

/* .banner .img__logo img{
    width: 50%;
    height: 100px;
} */

/* ========= Dropdown CSS ======== */
.dropbtn {
    background-color: transparent;
    color: var(--first-color);
    /* padding: 16px; */
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: pink;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(255, 133, 133, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
}
/* ========= Dropdown CSS End ======== */

/* ============================= Header CSS END =============================== */

/* ======== Scroll bar CSS ======= */

::-webkit-scrollbar{
    width: 8px;
  }
  
::-webkit-scrollbar-track{
    background: transparent;
    border-radius: 0px;
}
  
::-webkit-scrollbar-thumb{
    background: url('assets/img/1.jpg');
    background-color: var(--first-color);
    border-radius: 8px;
}
  
::-webkit-scrollbar-track-piece:vertical:end{
    background: transparent;
}

/* ======== Scroll bar CSS End ======= */


/* Gallery Diamond */
.diamond-grid{
    width: 70%;
    margin: 150px auto 0;
}

.item{
    width: 220px;
    height: 220px;
    background: #000;
    transition: 0.6s;
}

/* Media Queries */
@media screen and (max-width: 512px){
    .img__logo img{
        width: 100%;
    }

    header{
        display: none;
    }
}

