@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,300&display=swap');
/* Variable CSS */
:root{
    --first-color: rgb(252, 130, 151);
}

.carousel-inner img{
    
    width: 100%;
    
    height: 100vh;

}

*{
    margin: 0;
    
    padding: 0;
    
    /* box-sizing: border-box; */
    
    font-family: 'Poppins', sans-serif;
}

/* === Base ==== */
*,::before,::after{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
    background-color: rgb(253, 227, 231);
    
    min-height: 200vh;
}


/* === Header/Navbar CSS === */
header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    margin-bottom: 20px;
    z-index: 999999;
    background-color: #fff;
    transition: 0.6s ease;
}

header.sticky{
    position: fixed;
    padding: 10px 30px;
    background-color: rgb(253, 226, 230);
    transition: 0.6s ease;
}

header .logo{
    position: relative;
    font-weight: 700;
    color: rgb(255, 97, 124);
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s ease;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    position: relative;
    list-style: none;
    padding-top: 15px;
    font-weight: 700;
}

header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: rgb(255, 154, 171);
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    transition: 0.5s;
}

header ul li a:hover{
    text-decoration: none;
    color: rgb(255, 89, 117);
    transition: 0.5s ease;
}

header.sticky ul li a{
    margin-top: 5px;
    color: rgb(255, 126, 148);
}

header.sticky .logo{
    color: rgb(255, 97, 124);
}

/* .banner .img__logo img{
    width: 50%;
    height: 100px;
} */



/* ========= Dropdown CSS ======== */
.dropbtn {
    background-color: transparent;
    color: var(--first-color);
    /* padding: 16px; */
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: pink;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(255, 133, 133, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
}
/* ========= Dropdown CSS End ======== */

/* ============================= Header CSS END =============================== */

/* ======== Scroll bar CSS ======= */

::-webkit-scrollbar{
    width: 8px;
  }
  
::-webkit-scrollbar-track{
    background: transparent;
    border-radius: 0px;
}
  
::-webkit-scrollbar-thumb{
    background: url('assets/img/1.jpg');
    background-color: var(--first-color);
    border-radius: 8px;
}
  
::-webkit-scrollbar-track-piece:vertical:end{
    background: transparent;
}

/* ======== Scroll bar CSS End ======= */


.heading{
    font-weight: 800; color: rgb(255, 0, 43);
}
/* ========= Gallery Diamond CSS ============ */
.diamond-grid{
    width: 100%;
    text-align: center;
    margin: 50px auto 0;
}

.item{
    width: 220px;
    height: 220px;
    background: pink;
    
    transition: 0.6s;
}

.item img{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) scale(1.5);
    width: 100%;
}
/* ========= Gallery Diamond CSS End ============ */

/* ===== Footer CSS ======== */
.footer-area{
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 20px;
    background: #db7093;
    background: -moz-linear-gradient(left,  #db7093 0%, #2cafe3 100%);
    background: -webkit-linear-gradient(left,  #db7093 0%,#2cafe3 100%);
    background: linear-gradient(to right,  #db7093 0%,#2cafe3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db7093', endColorstr='#2cafe3',GradientType=1 );
    position: relative;
}

.main{
    width: 1400px;
    margin: 0 auto;
}
.footer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

.single-footer{
    width: 290px;
}

.single-footer:first-child{
    width: 400px;
}

.single-footer h4{
    text-transform: capitalize;
    font-size: 22px;
    margin-bottom: 20px;
}

.single-footer h4:first-child{
    font-weight: 600;
}

.footer-social{
    margin-top: 20px;
}

.footer-social a{
    color: rgb(255, 0, 43);
    border: 1px solid rgb(255, 0, 43);
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.footer-social a:hover{
    color: rgb(255, 250, 251);
    border: 1px solid #fff;
    transition: 0.6s ease;
}

.single-footer ul{
    list-style: none;
}

.single-footer ul li{
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
}

.single-footer ul li a{
    color: rgb(255, 0, 43);
    text-decoration: none;
    font-size: 15px;
    font-weight: 501;
}

.single-footer ul li a:hover{
    color: #fff;
    transition: 0.6s ease;
}

.single-footer ul li a i{
    position: absolute;
    left: 0;
    top: 5px;
}

.copy{
    text-align: center;
    text-transform: capitalize;
    margin-top: 50px;
}

/* .footer-wave-box{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 50px;
    background-color: red;
}

.footer-wave{
    background-image: url('/assets/img/footer-shape.png');
    position: absolute;
    left: 0;
    top: 0;
    width: 200%;
    height: 100%;
    background-size: 50%;
    background-position: bottom;
    background-repeat: repeat-x;
    overflow: hidden;
}

.footer-animation{
    animation: footer_wave 5s linear infinite;
    -moz-animation: footer_wave 5s linear infinite;
    -o-animation: footer_wave 5s linear infinite;
    -webkit-animation: footer_wave 5s linear infinite;
    left:auto;
    right:0;
}

@keyframes footer_wave {
    0%{
        transform:translateX(0%);
    }
    50%{
        transform:translateX(50%);
    }
    100%{
        transform:translateX(100%);
    }
}

@-moz-keyframes footer_wave{
0%{
    -moz-transform:translateX(0%);
}
50%{
    -moz-transform:translateX(25%);
}
100%{
    -moz-transform:translateX(50%);
}
}
@-moz-keyframes footer_wave{
0%{
    -moz-transform:translateX(0%);
}
50%{
    -moz-transform:translateX(25%);
}
100%{
    -moz-transform:translateX(50%);
}
}

@-o-keyframes footer_wave{
0%{
    -o-transform:translateX(0%);
}
50%{
    -o-transform:translateX(25%);
}
100%{
    -o-transform:translateX(50%);
}
}

@-webkit-keyframes footer_wave{
0%{
    -webkit-transform:translateX(0%);
}
50%{
    -webkit-transform:translateX(25%);
}
100%{
    -webkit-transform:translateX(50%);
}
} */

@media only screen and (max-width:600px){
.main{
    width:320px;
}
.footer-wave-box {
    display: none;
}
.single-footer:first-child, .single-footer {
    width: 100%;
    margin-bottom:30px;
}
}

/* ===== Footer CSS End ======== */


/* Media Queries */
@media screen and (max-width: 512px){
    .img__logo img{
        width: 100%;
    }

    header{
        display: none;
    }
}

@media screen and (max-width: 767px){
    .diamond-grid{
        margin: 0 auto;
    }
}